.button {
  font-family: Muli;
  font-size: 18px;
  color: #ffffff;
  vertical-align: bottom;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  background-color: #D2021D;
  width: 148px;
  height: 40px;

  &:hover {
    color: #ffffff;
    transform: scaleX(1.02);
  }

  @media (max-width: 425.98px) {
    line-height: 40px;
    width: 100px;
    height: 40px;
  }
}