mixin status-bar(modifier)
  .status__bar
    .status__bar-content
      .status__bar-content-wi-fi
      .status__bar-content-cellular
      .status__bar-content-battery
      .status__bar-content-time 12:30 