include ../blocks/header/header.pug
include ../blocks/status-bar/status-bar.pug
include ../blocks/nav/nav.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main/main.pug
include ../blocks/section/section.pug
include ../blocks/aside/aside.pug
include ../blocks/button/button.pug
include ../blocks/footer/footer.pug
include ../blocks/logo/logo.pug
include ../blocks/socials/socials.pug