//- <!DOCTYPE html>
//- html(lang="en")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-     title Document
//-   body



doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    block content
    script(src="js/scripts.js?version=1" defer)
    
    