.socials {
  display: flex;
  justify-content: space-between;
  // border: 1px solid black;
  height: 32px;
  width: 115px;

  &__item {
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;

    &--fb {
      background: #00BFF3;
      background-image:url(../img/facebook.svg);
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 32px;
      height: 32px;

      &:hover {
        background: #00BFF3;
        background-image:  url(../img/facebook-logo.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &--g {
      background: white;    
      background-image: url(../img/gogleblue.png);
      background-position: center;
      background-repeat: no-repeat;
      // border: 3px solid #00BFF3;
      border-radius: 50%;
      width: 30px;
      height: 30px;

      &:hover {
        background: #00BFF3;
        background-image: url(../img/g-logo.png);
        background-size: cover;
        border: none;
        width: 32px;
        height: 32px;
      }
    }

    &--inst {
      background: white;     
      background-image: url(../img/instagram-logo.svg);
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 30px;
      height: 30px;

      &:hover {
        background: #00BFF3;
        background-image: url(../img/instagram-logo.png);
        background-size: cover;
        border: none;
      }
    }
  }
}