mixin socials(modifier)
  .socials&attributes(attributes)
    a.socials__item.socials__item--fb(href="https://www.facebook.com/" title='facebook')
    a.socials__item.socials__item--g(href="https://www.google.com/" title='google')
    a.socials__item.socials__item--inst(href="https://www.instagram.com/" title='instagram')