*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@import 'mixins';


/* Plugins */
@import 'plugins/plugins-rewrite';
/*   fonts   */
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

/* Global styles */
// @import 'global/global-fonts';
// @import 'global/global-typo';
// @import 'global/global-scaffolding';

/* Blocks */
@import './src/blocks/header/header';
@import './src/blocks/status-bar/status-bar';
@import './src/blocks/nav/nav';
@import './src/blocks/hamburger/hamburger';
@import './src/blocks/main/main';
@import './src/blocks/section/section';
@import './src/blocks/aside/aside';
@import './src/blocks/button/button';
@import './src/blocks/footer/footer';
@import './src/blocks/logo/logo';
@import './src/blocks/socials/socials';

