mixin main(modifier)
  main 
    .main   
      .main__photo 
        .main__photo-description
          h3 Тур  <br> в Созополь, Болгария          
          p КОД ТУРА
          h4 3094119
        .main__photo-triangle
      .main__description
        .main__description-tour
          .main__description-tour-header
            a.main-link(href="#")
              h2  Aquamarine hotel
            .main__description-tour-header-stars
            .main__description-tour-header-price $256
          .main__description-tour-content
            .main__description-tour-content-text Оценка отеля
              p 45 отзывов
            .main__description-tour-content-rate 8.4
            .main__description-tour-content-text НОМЕР
              p 8.9
            .main__description-tour-content-text ПИТАНИЕ
              p 8.1
            .main__description-tour-content-text СЕРВИС
              p 7.9
            .main__description-tour-content-text ИНФРАСТРУКТУРА
              p 8.9

        .main__description-advertisment 
          span 320
          p солнечных дней в году
      .main__content
        .main__content-text
          .main__content-text-photo(id='silkRoad')
          .main__content-text-description
            .main__content-text-description-name
              a.main-link(href="#")
                h2 Шелковый путь
              p Экстремальный маршрут
            .main__content-text-description-price $158
              p
        .main__content-text
          .main__content-text-photo(id='ropejumping')
          .main__content-text-description
            .main__content-text-description-name
              a.main-link(href="#")
                h2 Роупджампинг
              p Не дай Бог не любишь
            .main__content-text-description-price $57
              p $90
    
