footer {
  display: flex;
  justify-content: center;  
  width: 100%;
  height: 60px;
  
  

  @media(max-width: 768px) {   
    height: 160px;
    margin-top: 30px;

  }

  @media(max-width: 425px) {
    // margin-top: 30px;
  }

  .footer {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    border-top: 1px solid black; 
    width: 1040px;
    height: 60px;


    @media(max-width: 1024px) {     
      justify-content: space-around;
    }

    @media(max-width: 768px) {
      flex-direction: column;
      width: 100%;
      height: 160px;
    }

    @media(max-width: 425px) {
      justify-content: space-around;
      text-align: center;
      // height: 220px;
    }

    &__content {
      display: flex;
      // flex-direction: column;

      @media(max-width: 425px) {
        justify-content:center;
        // height: 220px;
      }

      p {
        font-family: Arial;
        line-height: 17px;
        font-size: 12px;
        width: 389px;
        height: 17px;

        @media(max-width: 425px) {
          font-size: 15px;
          width: 96%;

        }
        a{
          color: #00BFF3;
          text-decoration: none;
        }
      }


    }
  }
}