mixin footer(modifier)
  footer
    .footer&attributes(attributes)
      .footer__content
        p 2018 Тестовое задание на вакансию верстальщика в компанию 
          a(href="https://aweb.ua")  Aweb
      +socials