.logo {
  background-image: url(../img/logo-suntour.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 179px;
  height: 43px;
  // @include transition;

  &:hover {
    // color: #ffffff;
    transform: scaleX(1.02);
  }

  @media (max-width: 768px) {
    margin-left: 15px;
  }

  @media (max-width: 425.98px) {
    background-size: contain;
    width: 82px;
    height: 24px;
  }
}