mixin aside(modifier)
  aside
    .aside
      span 0,71
      h2 WHR здорового человека 
      p Один из весьма надежных оказателей здоровья, фертильности, как раз «waistto hip ratio».
      
