mixin header(modifier)
 header
  +status-bar    
  .header&attributes(attributes)
    .header__content
      .header__content-logo
        +logo
        div Сеть турагенств «Солнце в кругу»
      +nav 
               