mixin hamburger(modifier)
  .ham(id='open', onclick="toggleMenu()")
    .closed(id='closeMenu')
        .nav__mobile-exit(id='closed', onclick="toggleMenu()" )
        a.nav__link(href="#") TOP 5 SITES
        a.nav__link(href="#") UKRAINIAN DATING SITES
        a.nav__link(href="#") RUSSIAN DATING SITES
        a.nav__link(href="#") ASIAN DATING SITES
        a.nav__link(href="#") BLOG